django==2.2.28
djangorestframework==3.11.2
tensorflow-serving-api==2.3.0
opencv-python-headless~=3.4
torch==1.5.0
torchvision==0.6.0
scipy==1.4.1
numpy
matplotlib
scikit-learn
shapely
uwsgi
pymongo
schedule
pillow
imageio
imageio_ffmpeg
tritonclient